extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Nathaniel Bennett
        p Full Stack JavaScript Developer


        .about-bio
          p I am a new developer that has dabbled in full stack development for years. I've used PHP with MySql and MSSql in the past -- I am currently using JavaScript to develop node based applications. I'm studying full stack content on teamtreehouse.com and am completing the "Tech Degree" program they offer. Previously I have had job experience in help desk analyst positions where projects often went outside the scope of my job description. I have had HIPAA compliance training in my help desk analyst role -- so knowing confidentiality protocol is familiar.


      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 541-640-9750
          li bennenat@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/nate-bennett-29214324/') LinkedIn
        a.btn-link(href='https://github.com/Ubersp4m/') GitHub
        a.btn-link(href='https://x.com/NBennett77270') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back