extends layout.pug

block content

  article.portfolio-intro
 
    h1 My Portfolio
    p This portfolio is part of the tech degree program at team treehouse!


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in Projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`/static${project.image_urls[0]}`, alt='')
            h5 #{project.project_name}

